<form>
  <div class="spacer-v-1"></div>
  <span class="title-m" routerLink="/ ">PokeDex.org</span>
  <div class="search-field">
    <mat-form-field class="full-width">
      <input matInput placeholder="Search for the Pokemon" >
    </mat-form-field>
  </div>
</form>
<div class="main-content">
  <mat-grid-list cols="6" rowHeight="1:1">
    <mat-grid-tile *ngFor="let pokemonList of pokemonRequest">
      <mat-card class="pointer"  routerLink="/pokemon-info-component">
        <mat-card-content>
          <img mat-card-image src={{pokemonList.img}} alt={{pokemonList.name}}>
          <div
            style="width: 50%;
            display: inline-block;
            height: 100%;
            background-color: {{pokemonList.color1}};
            position: absolute;
            top: 0;
            right: 0;
            z-index: -100;"></div>
          <div
            style="
            display: inline-block;
            width: 50%;
            height: 100%;
            background-color: {{pokemonList.color2}};
            position: absolute;
            top: 0;
            left: 0;
            z-index: -100;"></div>

        </mat-card-content>
        <div class="pokemon-name-title">
          <span>
            {{ pokemonList.name | titlecase }}
          </span>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
