
<mat-sidenav-container class="c-menu-main" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="c-sidebar" >
    <div class="main-title main-title-box">
      <h1>PokeDex.org</h1>
    </div>
    <div class="main-title main-title-box">
    </div>
    <div class="pointer main-title-box" routerLink="/pokemon-list-component">
      <h1 >Pokemon</h1>
    </div>
    <a href="https://pokeapi.co/docs/v2" target="_blank" class="no-deco">
      <div class="pointer main-title-box" >
        <h1>About</h1>
      </div>
    </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="spacer-h-1"></div>
      <span class="toolbar-title">PokeDex</span>
    </mat-toolbar>
    <!-- BEGIN Conteudo principal-->
    <router-outlet></router-outlet>
    <!-- END Conteudo principal-->
  </mat-sidenav-content>
</mat-sidenav-container>
